<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="ru" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="ru" class="no-js">
<!--<![endif]-->

<head>
    <title>{% block title %}autorinok.by{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% block head_meta %}{% endblock %}

    {% if app.environment == 'prod' %}
        {{ include('AppBundle::access-confirm.html.twig') }}
    {% endif %}

    {% block stylesheets %}
    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bundles/app/css/main.min.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bundles/app/css/ply.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bundles/app/css/redactor.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bundles/app/css/fine-uploader.min.css') }}" rel="stylesheet" type="text/css" media="screen">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!--[if lte IE 9]>
    <link href="{{ asset('/css/main-ie.min.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('/css/main-ie-part2.min.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <![endif]-->

</head>

<body class="dashboard">
    <!-- WRAPPER -->
    <div class="wrapper">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('bundles/app/img/logo.png') }}" height="35px"></a>
                </div>
                <div class="collapse navbar-collapse">
                    {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'AppBundle::menu.html.twig'}) }}

                    {{ include('AppBundle::user_menu.html.twig') }}
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <!-- BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    {% if not hide_sidebar is defined %}
                    <!-- left sidebar -->
                    <div class="col-md-{% if big_side_bar is defined %}3{% else %}2{% endif %} left-sidebar">

                        {% block sidebar_top %}
                        {% endblock sidebar_top %}

                        <!-- sidebar content -->
                        <div class="sidebar-content">
                            {% block sidebar_bottom %}
                            {% endblock sidebar_bottom %}
                        </div>
                        <!-- end sidebar content -->
                    </div>
                    <!-- end left sidebar -->
                    {% endif %}
                    <!-- top general alert -->

                    <div id="dyn-alert"></div>
                    <!-- end top general alert -->

                    <!-- content-wrapper -->
                    <div class="col-md-{% if hide_sidebar is defined %}12{% elseif big_side_bar is defined %}9{% else %}10{% endif %} content-wrapper">
                        {% block content %}{% endblock %}
                    </div>
                    <!-- /content-wrapper -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- END BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
        <div class="push-sticky-footer"></div>
    </div>
    <!-- /wrapper -->

    <!-- FOOTER -->
    <footer class="footer">
        &copy; 2015 autorinok.by
    </footer>
    <!-- END FOOTER -->

    <!-- Javascript -->
    {% block javascripts %}
        <script src="{{ asset('bundles/app/js/jquery/jquery-2.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/app/js/plugins/modernizr/modernizr.js') }}"></script>
        <script src="{{ asset('bundles/app/js/king-common.js') }}"></script>
        <script src="{{ asset('bundles/app/js/king-components.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/plugins/datatable/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/plugins/datatable/dataTables.bootstrap.js') }}"></script>
    {% endblock %}

    {% if app.environment == 'prod' %}
        {{ include('AppBundle::metrika.html.twig') }}
    {% endif %}

</body>
</html>

