<!-- logged user and the menu -->
<ul class="nav navbar-nav navbar-right">
{% if not is_granted('ROLE_USER') %}
    <li><a href="{{ path('fos_user_security_login') }}"><span class="fa fa-login"></span> Войти</a></li>
    <li><a href="{{ path('fos_user_registration_register') }}"><span class="fa fa-sign"></span> Регистрация</a></li>
{% else %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img src="{{ app.user.picture }}" width="22px" alt="Фото пользователя {{ app.user.username }}"> {{ app.user.username }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{{ path('admin_panel_homepage') }}">
                    <i class="fa fa-cogs"></i> <span class="text">Панель администратора</span>
                </a>
            </li>
            <li><a href="#"><i class="fa fa-user"></i> <span class="text">Личный кабинет</span></a></li>
            <li><a href="#"><i class="fa fa-car"></i> <span class="text">Мои объявления</span></a></li>
            <li><a href="#"><i class="fa fa-cog"></i> <span class="text">Настройки</span></a></li>
            <li class="divider"></li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-power-off"></i>
                    Выйти
                </a>
            </li>
        </ul>
    </li>
{% endif %}
</ul>
<!-- end logged user and the menu -->