{% extends 'AppBundle::layout.html.twig' %}
{% block title %}
    Поиск объявлений | {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-9" id="search-results">

        </div>
        <div class="col-sm-3">

        </div>
    </div>
{% endblock %}

{% block sidebar_top %}
    {{ parent() }}
    {{ include('AutoUsedBundle::full-search-form.html.twig') }}
{% endblock sidebar_top %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/ion.rangeSlider.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/ion.rangeSlider.skinNice.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/slider.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/select2/i18n/ru.js') }}"></script>
    <script src="{{ asset('bundles/app/js/search_full_form.js') }}"></script>
    <script type="text/javascript">
        var auto_catalog_ajax_brands = '{{ path('auto_catalog_ajax_brands') }}';
        var auto_catalog_ajax_models = '{{ path('auto_catalog_ajax_models', {brand: ''}) }}';
        var auto_used_ajax_ads = '{{ path('auto_used_ajax_ads') }}';
        var auto_used_ajax_count = '{{ path('auto_used_ajax_count') }}';
    </script>
{% endblock %}
