{% set hide_sidebar = true %}
{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Войти в мой кабинет
{% endblock %}
{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('bundles/app/css/bootstrap-social.css') }}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block alert %}
    {% if error %}
            <div class="alert alert-danger top-general-alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}        
                <button type="button" class="close">&times;</button>
            </div>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '{{ facebook_client_id }}',                        // App ID from the app dashboard
                status     : true,                                 // Check Facebook Login status
                xfbml      : true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>

    <div class="row" style="margin-top: 10%">
    <div class="col-sm-offset-4 col-sm-4">
                <div class="box box-danger">
            <div class="box-header">
                <h2 class="box-title">Войти <small>и влавствовать</small></h2>
            </div><!-- /.box-header -->
            <!-- form start -->
                <form role="form" method="post" action="{{ path("fos_user_security_check") }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="box-body">
                        <div class="form-group">
                            <label for="username" class="control-label required">E-mail</label>

                            <input type="text" name="_username" id="username" value="" placeholder="Ivan@tut.by" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label required">Пароль</label>
                            <input type="password" name="_password" id="password" value="" placeholder="Пароль" class="form-control">
                        </div>                    
                        <label class="fancy-checkbox parsley-success">
                            <input type="checkbox" name="_remember_me" value="1">
                            <span><i></i>Запомнить меня на этом компьютере</span>
                        </label>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-sm btn-success">Войти</button>
                        <div style="float: right;">
                        {% for owner in hwi_oauth_resource_owners() %}
                            {% if owner == 'facebook' %}
                                <a href="#" onclick="fb_login();" title="Войти с помощью {{ owner | trans({}, 'HWIOAuthBundle') }}">
                                    <img src="{{ asset('bundles/app/images/' ~ owner ~ '.png') }}" height="30px;">
                                </a>
                            {% else %}
                            <a href="{{ hwi_oauth_login_url(owner) }}" title="Войти с помощью {{ owner | trans({}, 'HWIOAuthBundle') }}">
                                <img src="{{ asset('bundles/app/images/' ~ owner ~ '.png') }}" height="30px;">
                            </a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </form>
            </div>


            <a href="{{ path('fos_user_change_password') }}">Забыли пароль?</a> | <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
        </div>
    </div>


{% endblock content %}
