{% if items|length > 0 %}

    {% for item in items %}
        <div class="col-sm-4 col-xs-6 col-md-3" style="padding: 1px;">
            <span class="label label-danger price"><strong>{{ item.priceView|price(1) }}</strong></span>
            <a href="{{ path('auto_used_default_car', {'id': item.id}) }}" title="Просмотреть объявление о продаже {{ item }}" class="load-car-frame">
                <img src="/{{ item.images|photo(0, 'medium') }}"  class="img-responsive" alt="Фото {{ item }} "/>
            </a>
            <a href="{{ path('auto_used_default_car', {'id': item.id}) }}" class="load-car-frame" title="Просмотреть объявление о продаже {{ item }}"><strong>{{ item }}</strong></a><br/>
                        <span class="detail">
                            {{ item.year }} г.в.,

                            {% if(item.engine) %}
                                {{ ('car.option.engine.' ~ item.engine)|trans }}
                                {% if(item.volume) %}
                                    {{ item.volume }} л.
                                {% endif %}
                            {% endif %}
                        </span>
        </div>
    {% endfor %}
{% endif %}